
body {
  z-index: -1;
  font-family: Open Sans, Roboto, Ubuntu, sans-serif;
}

#terminal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}

#terminal .terminal-output, #terminal .cmd {
  font-size: 1.2em !important;
}

#clock {
  position: absolute;
  top: 0;
  right: 20px;
  color: lightgray;
  z-index: 2;
}
